body {
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.button {
    font-size: 1.75rem;
}

.etchGrid {
    border-style: solid;
    border-width: 16px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.cell {
    box-sizing: border-box;
    /* width: 5vw; */
    width: 64px;
    aspect-ratio: 1;
    background-color: #bbb;
    /* border-style: solid; */
    flex: 1 1 auto;
}

.cell.active {
    background-color: #000;
}
