body {
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.button {
    font-size: 1.75rem;
}

.etchGrid {
    border-style: solid;
    border-width: 16px;
}

.borderBlack {
    border-color: hsl(120, 100%, 0%);
}

.borderGrey {
    border-color: hsl(120, 0%, 50%);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.cell {
    box-sizing: border-box;
    /* width: 5vw; */
    width: 64px;
    aspect-ratio: 1;
    /* border-style: solid; */
    flex: 1 1 auto;
}

.grey {
    background-color: hsl(120, 0%, 70%);
}

.black {
    background-color: hsl(120, 100%, 0%);
}

.ltGrey {
    background-color: hsl(120, 0%, 85%);
}

.dkGrey {
    background-color: hsl(120, 0%, 10%);
}

.cell.active {
    background-color: hsl(120, 0%, 0%);
}
